/* basic elements */

html {
	margin: 20px;
	padding: 20px;
	}


body { 
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
	line-height: 1.88889;
    font-size: 14px;
    background-color: maroon;
    color: burlywood; 
	margin: 0; 
	padding: 0;
	}

p { 
	margin-top: 0; 
	text-align:left;
    display: inline;
	}

h1 {
    margin-left: 50px;
    font-size: 35px;
    display: inline-block;
    
}

a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: lightcoral;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: lightcoral;
	}
a:hover, a:focus, a:active { 
	text-decoration: underline; 
	color: lightcoral;
	}
abbr {
	border-bottom: none;
	}



/* specific divs */
/*header h1 { 
	background: transparent url(http://csszengarden.com/001/h1.gif) no-repeat top left;
	margin-top: 10px;
	display: block;
	width: 219px;
	height: 87px;
	float: left;

	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	}
*/

/*media queries*/
 @media (min-width: 600px){
    h1 { margin-left: 250px;
        font-size: 50px;}
    .design-selection,.design-archives, .zen-resources {
        background-color: black;
}
    
 @media (min-width: 768px){
    h1 { margin-left: 500px;}
    .design-selection {
        background-color: black;}
     }